$blue: #4dabf7;
$lime: #a9e34b;
$green: #51cf66;

@mixin button-color($color) {
  background: $color;
  &:hover {
    background: lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
  }
}

.Button {
  display: inline-flex;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  padding-left: 1rem;
  padding-right: 1rem;
  &.large {
    height: 3rem;
    font-size: 1.25rem;
  }

  // .Button { &.medium } === .Button.medium (default)
  &.medium {
    height: 2.25rem;
    font-size: 1rem;
  }

  &.small {
    height: 1.75rem;
    font-size: 0.875rem;
  }

  &.blue {
    @include button-color($blue);
  }

  &.green {
    @include button-color($green);
  }

  &.lime {
    @include button-color($lime);
  }

  // .Button + .Button[외부] === & + &[내부] === &.Button[내부] (동일한 효과)
  // 버튼과 버튼이 같이 있으면 스타일 적용
  & + & {
    margin-left: 1rem;
  }
}
